# Data Cleaning for Flight Analysis

For Part 2 A&B

In [1]:
#Importing the required libraries
import numpy as np
import pandas as pd

In [2]:
#Loading the dataframes from 2006 and 2007
df06 = pd.read_csv('C:\\Users\\bhagy\\Programming CourseWork\\Python\\2006.csv')
df07 = pd.read_csv('C:\\Users\\bhagy\\Programming CourseWork\\Python\\2007.csv')

In [3]:
#Combining the two dataframes into one dataframe
df = pd.concat([df06, df07])
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0

In [4]:
#Identifying the null values in the dataframe
pd.isnull(df).sum(axis=0)

Year                        0
Month                       0
DayofMonth                  0
DayOfWeek                   0
DepTime                282682
CRSDepTime                  0
ArrTime                316047
CRSArrTime                  0
UniqueCarrier               0
FlightNum                   0
TailNum                    22
ActualElapsedTime      316047
CRSElapsedTime            998
AirTime                316047
ArrDelay               316047
DepDelay               282682
Origin                      0
Dest                        0
Distance                    0
TaxiIn                      0
TaxiOut                     0
Cancelled                   0
CancellationCode     14312454
Diverted                    0
CarrierDelay                0
WeatherDelay                0
NASDelay                    0
SecurityDelay               0
LateAircraftDelay           0
dtype: int64

In [5]:
#Removing the column 'CancellationCode'
df=df.drop(columns=['CancellationCode'])
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,1587,45,13,0,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,1587,27,19,0,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,1587,4,11,0,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,872,16,10,0,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,872,27,12,0,0,0,0,0,0,0

In [6]:
#Removing the rows containing null values
df = df.dropna(axis=0)

In [7]:
#Checking for null values after removal
#If the null values from the column 'CancellationCode' were to be omitted, there would be insufficient data
pd.isnull(df).sum(axis=0)

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

In [8]:
#Checking for unreasonable values/outliers by analysing the minimun and maximum values of each column
for col_name in df.columns:
    print(f'Colname: {col_name}, min: {df[col_name].min()}, max: {df[col_name].max()}')

Colname: Year, min: 2006, max: 2007
Colname: Month, min: 1, max: 12
Colname: DayofMonth, min: 1, max: 31
Colname: DayOfWeek, min: 1, max: 7
Colname: DepTime, min: 1.0, max: 2930.0
Colname: CRSDepTime, min: 1, max: 2359
Colname: ArrTime, min: 1.0, max: 2955.0
Colname: CRSArrTime, min: 0, max: 2359
Colname: UniqueCarrier, min: 9E, max: YV
Colname: FlightNum, min: 1, max: 9619
Colname: TailNum, min: 0, max: NHZOAL
Colname: ActualElapsedTime, min: 5.0, max: 1879.0
Colname: CRSElapsedTime, min: -25.0, max: 660.0
Colname: AirTime, min: -1425.0, max: 1958.0
Colname: ArrDelay, min: -592.0, max: 2598.0
Colname: DepDelay, min: -1200.0, max: 2601.0
Colname: Origin, min: ABE, max: YUM
Colname: Dest, min: ABE, max: YUM
Colname: Distance, min: 11, max: 4962
Colname: TaxiIn, min: 0, max: 1501
Colname: TaxiOut, min: 0, max: 602
Colname: Cancelled, min: 0, max: 0
Colname: Diverted, min: 0, max: 0
Colname: CarrierDelay, min: 0, max: 2580
Colname: WeatherDelay, min: 0, max: 1429
Colname: NASDelay, min: 0, max: 1392
Colname: SecurityDelay, min: 0, max: 382
Colname: LateAircraftDelay, min: 0, max: 1366

In [9]:
#All data for 'Cancelled' and 'Diverted' flights have been removed, but they won't be needed for the first two parts of the question.
#The negative values existing in the columns 'ArrDelay' and 'DepDelay' are assumed to be a result of early flights.
#The maximum values in 'DepTime' and 'AirTime' have exceeded 2400, which are considered as unreasonable values.
#The maximum values are therefore rectified to 2359.
df = df[(df["DepTime"]<2400) & (df["ArrTime"] <2400)]

In [10]:
#Rechecking after rectification
for col_name in df.columns:
    print(f'Colname: {col_name}, min: {df[col_name].min()}, max: {df[col_name].max()}')

Colname: Year, min: 2006, max: 2007
Colname: Month, min: 1, max: 12
Colname: DayofMonth, min: 1, max: 31
Colname: DayOfWeek, min: 1, max: 7
Colname: DepTime, min: 1.0, max: 2359.0
Colname: CRSDepTime, min: 1, max: 2359
Colname: ArrTime, min: 1.0, max: 2359.0
Colname: CRSArrTime, min: 0, max: 2359
Colname: UniqueCarrier, min: 9E, max: YV
Colname: FlightNum, min: 1, max: 9619
Colname: TailNum, min: 0, max: NHZOAL
Colname: ActualElapsedTime, min: 5.0, max: 1879.0
Colname: CRSElapsedTime, min: -25.0, max: 660.0
Colname: AirTime, min: 0.0, max: 1958.0
Colname: ArrDelay, min: -592.0, max: 2598.0
Colname: DepDelay, min: -1200.0, max: 2601.0
Colname: Origin, min: ABE, max: YUM
Colname: Dest, min: ABE, max: YUM
Colname: Distance, min: 11, max: 4962
Colname: TaxiIn, min: 0, max: 545
Colname: TaxiOut, min: 0, max: 602
Colname: Cancelled, min: 0, max: 0
Colname: Diverted, min: 0, max: 0
Colname: CarrierDelay, min: 0, max: 2580
Colname: WeatherDelay, min: 0, max: 1429
Colname: NASDelay, min: 0, max: 1392
Colname: SecurityDelay, min: 0, max: 382
Colname: LateAircraftDelay, min: 0, max: 1366

In [11]:
#Saving the cleaned dataframe for Flight Analysis
df.to_csv('Cleaned_Dataframe_for_Flight_Analysis.csv')

---

In [12]:
#Importing 'plane-data' for cleaning
df_planedata = pd.read_csv('C:\\Users\\bhagy\\Programming CourseWork\\Python\\plane-data.csv')

In [13]:
#View the plane data
df_planedata

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N052AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N054AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N055AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992.0
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998.0
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0

In [19]:
#Checking for null values in plane data
pd.isnull(df_planedata).sum(axis=0)

tailnum            0
type             549
manufacturer     549
issue_date       550
model            549
status           549
aircraft_type    549
engine_type      552
year             694
dtype: int64

In [20]:
#Removing the rows containing null values
df_planedata = df_planedata.dropna(axis=0)
#Rechecking for null values in plane data
pd.isnull(df_planedata).sum(axis=0)

tailnum          0
type             0
manufacturer     0
issue_date       0
model            0
status           0
aircraft_type    0
engine_type      0
year             0
dtype: int64

In [22]:
#Checking the number of rows and columns
df_planedata.shape

(4332, 9)

In [23]:
#Viewing dataset
df_planedata

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
34,N10156,Corporation,EMBRAER,02/13/2004,EMB-145XR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2004.0
35,N102UW,Corporation,AIRBUS INDUSTRIE,05/26/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998.0
36,N10323,Corporation,BOEING,07/01/1997,737-3TO,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1986.0
37,N103US,Corporation,AIRBUS INDUSTRIE,06/18/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999.0
38,N104UA,Corporation,BOEING,01/26/1998,747-422,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998.0
...,...,...,...,...,...,...,...,...,...
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992.0
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002.0
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998.0
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992.0

In [25]:
df_planedata['year'] = df_planedata['year'].round(0).astype(int)
df_planedata

C:\Users\bhagy\AppData\Local\Temp\ipykernel_4504\3630946678.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_planedata['year'] = df_planedata['year'].round(0).astype(int)

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
34,N10156,Corporation,EMBRAER,02/13/2004,EMB-145XR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2004
35,N102UW,Corporation,AIRBUS INDUSTRIE,05/26/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
36,N10323,Corporation,BOEING,07/01/1997,737-3TO,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1986
37,N103US,Corporation,AIRBUS INDUSTRIE,06/18/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
38,N104UA,Corporation,BOEING,01/26/1998,747-422,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
...,...,...,...,...,...,...,...,...,...
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992

In [26]:
#Saving the cleaned dataframe for Flight Analysis
df_planedata.to_csv('Plane_Data_Cleaned.csv')

Data cleaning for parts (a) and (b) is complete.

---